<h3>NLP Tutorial: Text Classification Using FastText</h3>

##### Dataset Credits: https://www.kaggle.com/datasets/saurabhshahane/ecommerce-text-classification

We have a dataset of ecommerce item description. Total 4 categories,
1. Household
2. Electronics
3. Clothing and Accessories
4. Books

The task at hand is to classify a product into one of the above 4 categories based on the product description

In [177]:
import pandas as pd

df= pd.read_csv("ecommerce_dataset.csv", names=["category", "description"], header=None)
print(df.shape)
df.head(3)

(50425, 2)

    category                                        description
0  Household  Paper Plane Design Framed Wall Hanging Motivat...
1  Household  SAF 'Floral' Framed Painting (Wood, 30 inch x ...
2  Household  SAF 'UV Textured Modern Art Print Framed' Pain...

**Drop NA values**

In [179]:
df.dropna(inplace=True)
df.shape

(50424, 2)

In [180]:
df.category.unique()

array(['Household', 'Books', 'Clothing & Accessories', 'Electronics'],
      dtype=object)

In [181]:
df['category'] = df['category'].str.replace("Clothing & Accessories", "Clothing_Accessories")

In [182]:
df.category.unique()

array(['Household', 'Books', 'Clothing_Accessories', 'Electronics'],
      dtype=object)

When you train a fasttext model, it expects labels to be specified with __label__ prefix. We will just create a third column in the dataframe that has __label__ as well as the product description

In [184]:
df['category'] = '__label__' + df['category'].astype(str)
df.head(5)

             category                                        description
0  __label__Household  Paper Plane Design Framed Wall Hanging Motivat...
1  __label__Household  SAF 'Floral' Framed Painting (Wood, 30 inch x ...
2  __label__Household  SAF 'UV Textured Modern Art Print Framed' Pain...
3  __label__Household  SAF Flower Print Framed Painting (Synthetic, 1...
4  __label__Household  Incredible Gifts India Wooden Happy Birthday U...

In [185]:
df['category_description'] = df['category'] + ' ' + df['description']
df.head(3)

,category,description,category_description
0,__label__Household,Paper Plane Design Framed Wall Hanging Motivat...,__label__Household Paper Plane Design Framed W...
1,__label__Household,"SAF 'Floral' Framed Painting (Wood, 30 inch x ...",__label__Household SAF 'Floral' Framed Paintin...
2,__label__Household,SAF 'UV Textured Modern Art Print Framed' Pain...,__label__Household SAF 'UV Textured Modern Art...

**Pre-procesing**
1. Remove punctuation
2. Remove extra space
3. Make the entire sentence lower case

In [187]:
import re

text = "  VIKI's | Bookcase/Bookshelf (3-Shelf/Shelve, White) | ? . hi"
text = re.sub(r'[^\w\s\']',' ', text)
text = re.sub(' +', ' ', text)
text.strip().lower()

"viki's bookcase bookshelf 3 shelf shelve white hi"

In [188]:
def preprocess(text):
    text = re.sub(r'[^\w\s\']',' ', text)
    text = re.sub(' +', ' ', text)
    return text.strip().lower()

In [189]:
df['category_description'] = df['category_description'].map(preprocess)
df.head()

,category,description,category_description
0,__label__Household,Paper Plane Design Framed Wall Hanging Motivat...,__label__household paper plane design framed w...
1,__label__Household,"SAF 'Floral' Framed Painting (Wood, 30 inch x ...",__label__household saf 'floral' framed paintin...
2,__label__Household,SAF 'UV Textured Modern Art Print Framed' Pain...,__label__household saf 'uv textured modern art...
3,__label__Household,"SAF Flower Print Framed Painting (Synthetic, 1...",__label__household saf flower print framed pai...
4,__label__Household,Incredible Gifts India Wooden Happy Birthday U...,__label__household incredible gifts india wood...

**Train Test Split**

In [191]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [192]:
train.shape, test.shape

((40339, 3), (10085, 3))

In [193]:
train.to_csv("ecommerce.train", columns=["category_description"], index=False, header=False)
test.to_csv("ecommerce.test", columns=["category_description"], index=False, header=False)

**Train the model and evaluate performance**

In [195]:
import fasttext

model = fasttext.train_supervised(input="ecommerce.train")
model.test("ecommerce.test") 
#precision - recall

(10083, 0.9706436576415749, 0.9706436576415749)

First parameter (10084) is test size. Second and third parameters are precision and recall respectively. You can see we are getting around 96% precision which is pretty good

**Now let's do prediction for few product descriptions**

In [198]:
model.predict("wintech assemble desktop pc cpu 500 gb sata hdd 4 gb ram intel c2d processor 3")

(('__label__electronics',), array([0.99742228]))

In [199]:
model.predict("ockey men's cotton t shirt fabric details 80 cotton 20 polyester super combed cotton rich fabric")

(('__label__clothing_accessories',), array([1.00001001]))

In [200]:
model.predict("think and grow rich deluxe edition")

(('__label__books',), array([1.00000989]))

In [201]:
model.get_nearest_neighbors("painting")

[(0.9987643361091614, 'closable'),
 (0.9987585544586182, 'ferry'),
 (0.9987532496452332, 'mandir'),
 (0.9987481832504272, 'transfering'),
 (0.9987481832504272, 'prcatical'),
 (0.9987415671348572, "mother'"),
 (0.9987415671348572, "sphere's"),
 (0.9987415671348572, "valentine'"),
 (0.9987374544143677, 'a07'),
 (0.9987374544143677, '95x63x39')]

In [202]:
model.get_nearest_neighbors("sony")

[(0.9994380474090576, 'firecuda'),
 (0.9994346499443054, '10d'),
 (0.9994335174560547, "they'd"),
 (0.9994300603866577, 'ww'),
 (0.9994158744812012, 'hopelessly'),
 (0.9994003772735596, "connectivity's"),
 (0.9993822574615479, 'amplitude'),
 (0.9993742108345032, 'ass'),
 (0.999365508556366, 'l560'),
 (0.999365508556366, 'l555')]

In [203]:
model.get_nearest_neighbors("banglore")

[(0.0, 'to'),
 (0.0, 'and'),
 (0.0, 'a'),
 (0.0, 'with'),
 (0.0, 'for'),
 (0.0, 'is'),
 (0.0, '</s>'),
 (0.0, 'danglers'),
 (0.0, 'fishermen'),
 (0.0, '5ã3ã')]